@media screen and (min-width: 500px) {
}

@media screen and (min-width: 500px) {
  html {
    font-size: clamp(1rem, 3vw, 1.1rem);
  }
  /* INDEX */
  .logo {
    background-size: auto 60%;
    background-position: left center;
  }

  .index-solution {
    width: 90%;
  }

  .index-solution h2 {
    padding-right: 7rem;
  }

  .btn-hollow-white {
    float: none;
    margin-left: 1rem;
  }

  section {
    padding: 5rem 2rem;
  }

  .action {
    background-size: 200%;
  }

  /* TJÄNSTER */

  .tjanster-solution {
    width: 80%;
  }

  .new-website-div,
  .existing-website-div {
    padding: 4rem 2rem;
  }

  /*  OM MIG */

  .about-me p {
    max-width: 45ch;
    /* margin: 0 auto; */
  }
}

@media screen and (min-width: 600px) {
  /* INDEX */
  .index-solution {
    width: 80%;
  }

  .index-solution h2 {
    padding-right: 6rem;
  }

  /* TJANSTER */

  .existing-website-services {
    padding: 0 2rem;
  }
}

@media screen and (min-width: 700px) {
  section {
    padding: 6rem 5rem;
  }

  h1 {
    max-width: 80%;
  }

  /* INDEX */
  .index-solution,
  .tjanster-solution {
    width: 70%;
  }

  .index-solution h2,
  .tjanster-solution h2 {
    padding-right: 7rem;
  }

  /* TJANSTER */

  .existing-website-services {
    padding: 2rem 3rem;
  }

  .new-website-header,
  .existing-website-header {
    height: 18rem;
  }

  .new-website-div,
  .existing-website-div {
    padding: 4rem 3rem;
  }

  .action {
    padding: 4rem 2rem;
    background-size: 170%;
  }
}

@media screen and (min-width: 768px) {
  html {
    font-size: clamp(1rem, 3vw, 1.2rem);
  }

  .logo {
    background-size: auto 80%;
    background-position: left center;
  }

  .mobile-menu li {
    width: 50%;
  }

  h1 {
    font-size: 4rem;
  }

  h2 {
    font-size: 1.3rem;
  }
  /* INDEX */

  #eclipse {
    display: block;
  }

  .index-solution,
  .tjanster-solution {
    width: 70%;
  }

  .index-solution h2,
  .tjanster-solution h2 {
    padding-right: 6rem;
  }

  .skillset-flex {
    font-size: 4rem;
  }

  /*  Tjänster */

  .new-website-div i {
    width: 2rem;
    height: 4rem;
  }

  .existing-website-div i {
    width: 2rem;
    height: 4rem;
    text-align: center;
  }

  .new-website ul,
  .existing-website ul {
    padding: 2rem 3rem;
  }

  /* PRISER */

  .bundles-flex,
  .service-prices-flex {
    gap: 4rem;
  }

  /* OM MIG */

  .about-me * {
    width: fit-content;
  }

  .about-me-div {
    margin: 0 auto;
  }
}

@media screen and (min-width: 992px) {
  /* MENU */

  nav {
    display: flex;
    justify-content: space-between;
  }

  .logo {
    display: inline-block;
    width: 40%;
    background-size: auto 60%;
    background-position: left center;
  }

  .mobile-bars {
    display: none;
  }

  .desktop-menu {
    display: inline-block;
    height: 100%;
    width: 60%;
    color: var(--dark);
  }

  .desktop-menu ul {
    display: flex;
    justify-content: space-evenly;
    height: 100%;
    padding: 0;
    align-items: center;
  }

  .desktop-menu li:hover {
    /* padding: 0.5rem; */
    background: #db6e34d0;
    border-radius: 1rem;
  }

  /*  BUTTONS */

  button:hover {
    transform: scale(1.1);
    box-shadow: 6px 6px 6px rgba(0, 0, 0, 0.377);
  }

  /* INDEX */
  .index-solution,
  .tjanster-solution {
    width: 60%;
  }

  .index-solution h2,
  .tjanster-solution h2 {
    padding-right: 6rem;
  }

  .about-webhorisont ul {
    width: 70%;
  }

  .projects-flex {
    flex-direction: row;
  }

  #eclipse {
    top: -8rem;
  }
}
