@media screen and (min-width: 500px) {
  html {
    font-size: clamp(1rem, 3vw, 1.1rem);
  }
  /* INDEX */
  .logo {
    background-size: auto 60%;
    background-position: left center;
  }

  .index-solution {
    width: 90%;
  }

  .index-solution h2 {
    padding-right: 7rem;
  }

  .btn-hollow-white {
    float: none;
    margin-left: 1rem;
  }

  .button-float {
    float: none;
  }

  section {
    padding: 5rem 2rem;
  }

  /* TJÄNSTER */

  .tjanster-solution {
    width: 80%;
  }

  .new-website-div,
  .existing-website-div {
    padding: 4rem 2rem;
  }

  /*  OM MIG */

  .about-me p {
    max-width: 45ch;
    /* margin: 0 auto; */
  }
}

@media screen and (min-width: 600px) {
  /* INDEX */
  .index-solution {
    width: 80%;
  }

  .index-solution h2 {
    padding-right: 6rem;
  }

  /* TJANSTER */

  .existing-website-services {
    padding: 0 2rem;
  }
}

@media screen and (min-width: 700px) {
  section {
    padding: 6rem 5rem;
  }

  h1 {
    max-width: 80%;
  }

  /* INDEX */
  .index-solution,
  .tjanster-solution {
    width: 70%;
  }

  .index-solution h2,
  .tjanster-solution h2 {
    padding-right: 7rem;
  }

  /* TJANSTER */

  .existing-website-services {
    padding: 2rem 3rem;
  }

  .new-website-header,
  .existing-website-header {
    height: 18rem;
  }

  .new-website-div,
  .existing-website-div {
    padding: 4rem 3rem;
  }

  .action {
    /* padding: 4rem 2rem;
    background-size: 170%; */
  }
}

@media screen and (min-width: 768px) {
  html {
    font-size: clamp(1rem, 3vw, 1.2rem);
  }

  .logo {
    background-size: auto 80%;
    background-position: left center;
  }

  .mobile-menu li {
    width: 50%;
  }

  h1 {
    font-size: 4rem;
  }

  h2 {
    font-size: 1.3rem;
  }
  /* INDEX */

  #eclipse {
    display: block;
  }

  .index-solution,
  .tjanster-solution {
    width: 70%;
  }

  .index-solution h2,
  .tjanster-solution h2 {
    padding-right: 6rem;
  }

  .skillset-flex {
    font-size: 4rem;
  }

  /*  Tjänster */

  .new-website-div i {
    width: 2rem;
    height: 4rem;
  }

  .existing-website-div i {
    width: 2rem;
    height: 4rem;
    text-align: center;
  }

  .new-website ul,
  .existing-website ul {
    padding: 2rem 3rem;
  }

  /* PRISER */

  .bundles-flex,
  .service-prices-flex {
    gap: 4rem;
  }

  /* OM MIG */

  .about-me * {
    width: fit-content;
  }

  .about-me-div {
    margin: 0 auto;
  }
}

@media screen and (min-width: 992px) {
  /* MENU */

  nav {
    display: flex;
    justify-content: space-between;
  }

  .logo {
    display: inline-block;
    width: 40%;
    background-size: auto 60%;
    background-position: left center;
  }

  .mobile-bars {
    display: none;
  }

  .desktop-menu {
    display: inline-block;
    height: 100%;
    width: 60%;
    color: var(--dark);
  }

  .desktop-menu ul {
    display: flex;
    justify-content: space-evenly;
    height: 100%;
    padding: 0;
    align-items: center;
  }

  .desktop-menu li:hover {
    background: #db6e34d0;
    border-radius: 1rem;
  }

  /* INDEX */
  .index-solution,
  .tjanster-solution {
    width: 60%;
  }

  .index-solution h2,
  .tjanster-solution h2 {
    padding-right: 6rem;
  }

  .about-webhorisont ul {
    width: 70%;
  }

  .projects-flex {
    flex-direction: row;
  }

  #eclipse {
    top: -8rem;
  }
}

/* IPAD LANSCAPE */
@media screen and (min-width: 1024px) {
  html {
    font-size: clamp(1rem, 3vw, 1.1rem);
  }
  /* INDEX */

  .index-solution,
  .tjanster-solution {
    width: 50%;
  }

  .index-solution h2,
  .tjanster-solution h2 {
    padding-right: 6rem;
  }

  .skillset-flex {
    margin-top: 0;
  }

  .action {
    background-size: 200%;
  }

  /* TJÄNSTER */

  .tjanster-choices-flex {
    justify-content: space-around;
  }

  .new-website-div,
  .existing-website-div,
  .existing-website-services {
    width: 80%;
    margin: 0 auto;
  }

  .existing-website-header h3,
  .new-website-header h3 {
    margin-top: 7%;
  }

  /* OM MIG */

  .index-solution-more-text {
    width: 60%;
  }

  .header-bundle-flex {
    margin-top: 1rem;
  }

  /*  PRISER */

  .new-website-header,
  .existing-website-header {
    height: 24rem;
  }

  .bundles-flex {
    width: 50%;
    margin: 0 auto;
  }
}

/* IPAD PRO */

@media screen and (min-width: 1024px) and (min-height: 1000px) {
  html {
    font-size: clamp(1rem, 3vw, 1.4rem);
  }
  /* INDEX */
  .index-solution,
  .tjanster-solution {
    width: 60%;
  }

  /* .index-solution h2 {
    padding-right: 7rem;
  } */

  #eclipse {
    top: 0;
  }

  /* PRISER */

  .header-bundle-flex,
  .tjanster-choices-flex,
  .skillset-flex {
    margin-top: 4rem;
  }

  .bundles-flex,
  .service-prices-flex {
    width: 70%;
    margin: 0 auto;
  }
}

/* IPAD PRO LANDSCAPE */

@media screen and (min-width: 1366px) and (min-height: 1000px) {
  html {
    font-size: clamp(1rem, 3vw, 1.3rem);
  }

  .header-bundle-flex,
  .tjanster-choices-flex,
  .skillset-flex {
    margin-top: 1rem;
  }

  .h1-double-height {
    margin-bottom: 2rem !important;
  }
}

@media screen and (min-width: 1366px) {
  /* INDEX */

  button:hover {
    transform: scale(0.99);
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.377);
  }

  .index-solution,
  .tjanster-solution {
    width: 40%;
  }

  .header-illustration {
    display: block;
    position: absolute;
    top: 12rem;
    right: 8rem;
  }

  .header-illustration img {
    width: 450px;
    height: auto;
  }

  .skillset-flex {
    justify-content: left;
  }

  .skills {
    width: 10%;
  }

  .about-webhorisont ul {
    width: 50%;
  }

  .action {
    /* background-position: 0% 10%; */
    background-size: 100%;
  }

  /* TJÄNSTER */

  .tjanster-choices-flex {
    justify-content: space-evenly;
  }

  .new-website-div,
  .existing-website-div,
  .existing-website-services {
    width: 60%;
    margin: 0 auto;
  }

  /* OM MIG */

  .index-solution-more-text {
    width: 45%;
  }

  /* PRISER */

  .h1-double-height {
    margin-bottom: 6rem;
  }

  .header-bundle-flex {
    justify-content: space-between;
  }

  .bundles {
    padding: 6rem 1rem;
  }

  .bundles-header h3 {
    margin-bottom: 2rem;
  }

  .bundles-flex {
    flex-direction: row;
    width: 100%;
    gap: 0;
    justify-content: space-evenly;
  }

  .bundles-div {
    height: max-content;
    width: 30%;
  }

  .bundles-div p {
    font-size: 80%;
  }

  .bundles-div h3 {
    font-size: 150%;
  }

  .service-prices-flex {
    flex-direction: row;
    width: 100%;
    gap: 0;
    justify-content: space-evenly;
  }

  .service-prices {
    padding: 6rem 1rem;
  }

  .service-prices-div {
    height: max-content;
    width: 30%;
  }

  .service-prices-div p {
    font-size: 80%;
  }

  .service-prices-div h3 {
    font-size: 150%;
  }
}

@media screen and (min-width: 1600px) {
  html {
    font-size: clamp(1rem, 3vw, 1.4rem);
  }

  .index-solution,
  .tjanster-solution {
    background-size: 9rem auto;
  }

  .index-solution-more-text {
    width: 50%;
  }
}

@media screen and (min-width: 1920px) and (min-height: 1080px) {
  html {
    font-size: clamp(1rem, 3vw, 1.5rem);
  }

  /*  INDEX */

  .skillset-flex,
  .header-bundle-flex {
    margin-top: 1rem;
  }

  .header-illustration img {
    width: 650px;
    height: auto;
  }
}

@media screen and (min-width: 2000px) {
  html {
    font-size: clamp(1rem, 3vw, 2rem);
  }
}

@media screen and (min-width: 2500px) {
  html {
    font-size: clamp(1rem, 3vw, 2.3rem);
  }
}

@media screen and (min-width: 3000px) {
  html {
    font-size: clamp(1rem, 3vw, 2.6rem);
  }
}
